.happy:hover,
.happy:active,
.happy:focus {
  background-color: #8BF935;
  border: 1px solid #8BF935;
  color: white;
}

.sad:hover,
.sad:active,
.sad:focus {
  background-color: #2D6EB6;
  border: 1px solid #2D6EB6;
  color: white;
}

.angry:hover,
.angry:active,
.angry:focus {
  background-color: #E92323;
  border: 1px solid #E92323;
  color: white;
}

.content:hover,
.content:active,
.content:focus {
  background-color: #F6E128;
  border: 1px solid #F6E128;
  color: white;
}
