
body{
   border: 20px double #3E99B2;
    border-radius: 5px;}

    /*buttons for left-side bar*/
.btn {
    background: #3E99B2;
    background-image: -webkit-linear-gradient(top, #b2573e, #b2573e);
    background-image: -moz-linear-gradient(top, #b2573e, #b2573e);
    background-image: -ms-linear-gradient(top, #b2573e, #b2573e);
    background-image: -o-linear-gradient(top, #b2573e, #b2573e);
    background-image: linear-gradient(to bottom, #b2573e, #b2573e);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #3E99B2;
    font-size: 20px;
    /*padding: 10px 20px 10px 20px;*/
    text-decoration: none;
  }


/*header text styling and background color*/
.header{
  font-size: 69px;
  color: #3E99B2;
  font-family: "Arial Black", Gadget, sans-serif;
  text-shadow: 0px 0px 0 rgb(160,69,44),
               1px -1px 0 rgb(143,52,27),
               2px -2px 0 rgb(125,34,9),
               3px -3px 0 rgb(107,16,0),
               4px -4px 0 rgb(90,-1,0),
               5px -5px 0 rgb(72,-19,0),
               6px -6px 0 rgb(54,-37,0),
               7px -7px 0 rgb(36,-55,0),
               8px -8px 0 rgb(19,-72,0),
               9px -9px 0 rgb(1,-90,0),
               10px -10px  0 rgb(-17,-108,0),
               11px -11px 10px rgba(255,255,255,0),
               11px -11px 1px rgba(255,255,255,0.5),
               0px 0px 10px rgba(255,255,255,.2);

  }
/*textarea shadowing box*/    
textarea {
    appearance:none;
    background:none;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
    }
textarea:focus {
    outline:none;
    }
.rightContainer {
        flex: 0 0 70%;
        border-radius:70 70px 0 0;
        overflow: hidden;
        border: 5px solid #b2573e;    
        border-radius: 5px 5px 5px 5px;
      }
        
/*right-side bar*/      

/*end right-side bar*/
      
.imgContainer {
        display: flex;
        justify-content: center;
      }
/*left side bar buttons and main content container text*/  
.shareThought, .mood, .previous, .today {
        margin: 50px;;
        font-family: "Lucida Console", Monaco, monospace;
        text-shadow: -1px 1px 1px 1px #b2573e;
        font-size: 30px;
        letter-spacing: -0.6px;
        word-spacing: 2px;
        color: #b2573e;
        font-weight: bold;
        font-style: oblique;
        font-variant: normal;
        
        
      }
    /*end of left-side bar buttons and main content container text*/


.emoji p{
font-family: "Lucida Console", Monaco, monospace;
text-shadow: -1px 1px 1px 1px #b2573e;
font-size: 50px;
letter-spacing: -0.6px;
word-spacing: 2px;
color: #b2573e;
font-weight: bold;
font-style: oblique;
font-variant: normal;
text-shadow: .1px .1px 0px #b2573e;}

.shareThoughts{
  text-shadow: 1px 1px 1px 1px #b2573e;
  -webkit-box-shadow: 5px 5px 15px 5px #000000; 
  box-shadow: 5px 5px 15px 5px #000000;}
      
.emoji {
        
        display: flex;
        justify-content: space-evenly;
      }
    
    .button-happy {
   
	background-color:#b2573e;
	border-radius:6px;
	border:1px solid #b2b8ad;
	display:inline-block;
	cursor:pointer;
	color:#3E99B2;
	font-family:Arial;
	font-size:25px;
	font-weight:bold;
	padding:6px 24px;
	
}

.button-happy:hover{
  background: rgba(0, 255, 51, .6);
}

.button-sad:hover{
  background: rgba(119,55,124);
}
.button-angry:hover{
  background: rgba(194,39,39);
}
.button-content:hover{
  background: rgba(58,105,202);
}

.button-sad {
  background-color:#b2573e;
	border-radius:6px;
	border:1px solid #b2b8ad;
	display:inline-block;
	cursor:pointer;
	color:#3E99B2;
	font-family:Arial;
	font-size:25px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
}


.button-angry {
  background-color:#b2573e;
	border-radius:6px;
	border:1px solid #b2b8ad;
	display:inline-block;
	cursor:pointer;
	color:#3E99B2;
	font-family:Arial;
	font-size:25px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	;
}

.button-content {
  background-color:#b2573e;
	border-radius:6px;
	border:1px solid #b2b8ad;
	display:inline-block;
	cursor:pointer;
	color:#3E99B2;
	font-family:Arial;
	font-size:25px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	
}


