body{
    background: hsl(203, 35%, 72%);}
.btn {
    background: hsl(203, 35%, 72%);
    background-image: -webkit-linear-gradient(top, hsl(203, 35%, 72%), hsl(203, 35%, 72%));
    background-image: -moz-linear-gradient(top, hsl(203, 35%, 72%), hsl(203, 35%, 72%));
    background-image: -ms-linear-gradient(top, hsl(203, 35%, 72%), hsl(203, 35%, 72%));
    background-image: -o-linear-gradient(top, hsl(203, 35%, 72%), hsl(203, 35%, 72%));
    background-image: linear-gradient(to bottom, hsl(203, 35%, 72%), hsl(203, 35%, 72%));
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #c48452;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }

  .header{font-family: "Lucida Console", Monaco, monospace;
    text-shadow: -1px 1px 1px 1px rgba(196,132,82,0.8);
    font-size: 70px;
    letter-spacing: -0.6px;
    word-spacing: 2px;
    color: #c48452;
    font-weight: bold;
    font-style: oblique;
    font-variant: normal;
    text-transform: none;
    
    ;}
    container-left {
        background: #c48452;
    }
    textarea {
        appearance:none;
        background:none;
        }
    textarea:focus {
        outline:none;
        }
    .rightContainer {
            flex: 0 0 80%
          }
          
    .imgContainer {
            display: flex;
            justify-content: center;
          }
          
    .shareThought {
            margin: 10px 20%;
            
          }
    #shareThought{text-shadow: 1px 1px 1px 1px rgba(196,132,82,0.8);}
          
    .emoji {
            margin: 10px 20%; 
            display: flex;
            justify-content: space-evenly;
          }
    
          .button-happy {
            -webkit-border-radius: 60;
            -moz-border-radius: 60;
            border-radius: 60px;
            font-family: Arial;
            color: silver;
            font-size: 23px;
            background: #00ff33;
            padding: 10px 20px 10px 20px;
            border: solid #c48452 2px;
            text-decoration: none;
          }

          .button-sad {
            -webkit-border-radius: 60;
            -moz-border-radius: 60;
            border-radius: 60px;
            font-family: Arial;
            color: silver;
            font-size: 23px;
            background: purple ;
            padding: 10px 20px 10px 20px;
            border: solid #c48452 2px;
            text-decoration: none;
          }

          .button-angry {
            -webkit-border-radius: 60;
            -moz-border-radius: 60;
            border-radius: 60px;
            font-family: Arial;
            color: silver;
            font-size: 23px;
            background: red;
            padding: 10px 20px 10px 20px;
            border: solid #c48452 2px;
            text-decoration: none;
          }

          .button-content {
            -webkit-border-radius: 60;
            -moz-border-radius: 60;
            border-radius: 60px;
            font-family: Arial;
            color: silver;
            font-size: 23px;
            background: blue;
            padding: 10px 20px 10px 20px;
            border: solid #c48452 2px;
            text-decoration: none;
          }
          
        